body {background-color: darkblue;

}

body  ul {margin: 0;
  
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: flex-end;
    align-items: center;
    height: 5vh ;
    gap: 20px;
    padding: 10px;
}

ul a {color: black;
    text-decoration: none;
    font-weight: 700;

}

ul  a:hover { text-decoration:underline;
    color: white;
}
nav {background-color: rgb(100, 196, 10);

}
#home {
    margin-right: auto;
}

/* Media Query */
@media only screen and (max-width: 768px) {

    ul { flex-direction: column;
        height: 10vh;

    }
}
#home {
    margin-right: 0;
}

nav {
    background-color: white;
}

ul a:hover {
    color: white;
}