
h1 {
    background-image: url(assests/images/icecaps.jpgicecaps.jpg);
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: rgb(7, 0, 0);

     }

header {background-image: url("../assests/images/icecaps.jpg");
    background-size: cover;
    text-align: center;
    color: rgb(2, 0, 0);
    text-decoration: none; }


  
body {background-color: rgb(251, 231, 206);

}
   
    
img {float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0;


}
footer {
    text-align: center;
  padding: 1px;
  border-style: 5px rgb(11, 12, 0) solid;
  background-color: rgb(156, 203, 224);
  color: rgb(2, 0, 0)}
   

  

 
  
