#gallery img {
    height: 20vh;
    width: 20vh;
    object-fit: cover;
}

#gallery {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Media Query */
@media screen and (max-width: 768px) {
   
    #gallery {
        grid-template-columns: 1fr;
    }
    #gallery img {
        width:  100%;
        height: auto;
    }

}
    
