h1 {
    background: linear-gradient(rgb(171, 171, 229), rgb(215, 140, 198));
    border: 5px rgb(209, 226, 247) solid;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-family: 'font-family: 'Montserrat'
    font-weight: 400px
    text-transform: capitalize;
    text-shadow: 1px 1px rgb(161, 202, 65), 2px rgb(0, 102, 255);
    font-size
}
body {

}

#intro


.whitbag