table {
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}



tr:nth-of-type(1) {background-color: rgb(76, 181, 230);
    color: white;


}
td:nth-of-type(1) {
    padding: 10px;


}
tr:nth-of-type(3) {
    background-color: lightgray;
    rgb(76, 181, 230);;
    border-bottom: black 1px solid;
    font-weight: 600;
    border-top: black 1px solid;

}

tr:nth-last-of-type(1){
    border-bottom: rgb(76, 167, 201) 2px solid;
    border-top: black 1px solid;

}


