
* { font-family: Graphik;
}

body {
  margin: 0;
}

@font-face {
  font-family: GraphikBold;
  src: url("../images/GraphikBlack.otf");
}

@font-face {
  font-family: GraphikRegular;
  src: url("../images/GraphikRegular.otf");
}

@font-face {
  font-family: GraphikMedium;
  src: url("../images/GraphikMedium.otf");
}
/* Header Styling */
header {
  background: radial-gradient(rgba(255,255,255, 0.05), rgba(0, 0,0, 0.664)), url("../images/hulu-bg.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  height: 50vh;
}
/* Navigatin Styling */
nav {display: flex;
  justify-content: 
  space-between;

}

nav img {
  width: 75px;
}

nav button {
  border: none;
  color: #a8afbd;
  background: none;

}
#bundle img {
height: 5vh

}
#bundle {
  align-self: center;
  text-align: center;

}

form input [type=submit] {
  background-color: green;
  border: none;
  font-family: GraphikBold;

}


#banner img {
  height: 5vh;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: auto;
  background: rgba(0, 0,0, 0.4);
}
h1 {
  font-family: GraphikBold;
  src: url("../images/GraphikBlack.otf");
  
}

h2 {
  font-family: GraphikRegular;
  src: url("../images/GraphikRegular.otf");

}
h5 {
  font-family: GraphikBold;
  color: #1ce783;

}

form input {
  padding: 0.9rem 1.2rem;
  border-radius:  5px;
}


form a {
  color: white
}

input[type=submit] {
  background-color:#1ce783;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: none;
 font-family: GraphikBold;
  
}

input[type=submit]:hover {
  background-color: opacity 0.7; 
}

.Submit {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#Get-all-three {
border: white 2px solid;
border-radius: 5px;
background-color: transparent;
padding: 0.9rem 1.2rem;
display: flex;
flex-direction: column;

}

#trio-bundle {
  width: 40%;
  margin-left: 5rem;
}
#trio-bundle, h5 {
  font-family: graphikMedium;
  margin-bottom: 0;

}

/* main Content */
main {
  background-color: #0b0c0f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

main h5 {
  margin: 0;

}

#gallery {
display: grid;
grid-template-columns: repeat(4, 2fr);
grid-template-rows: auto;
gap: 3rem;

}

#gallery img {
  height: 30vh;
}
/* Footer ~~~~~~~ */

footer {
  background-color: #000000;
  border-top:2px solid #000103;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.footer-left {
  background-color: #000000;
  padding:25px;
  border-top:2px solid #050606;
  box-sizing: border-box;
  display:flex;
  color: white;
  align-items: center;
}


@media screen and (max-width:768px) {
#gallery {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto
 
} };