h1 {text-align: center;
  color: #0771c2;
  width: 600px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {text-align: center;
}

.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#1877f2;
  font-size: 3em;
  text-align: center;
  margin-top:10%;
}


main {
    display:grid;
    grid-template-columns: 30% 40% 30%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
 
    
  }

 input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid rgb(6, 197, 51);
}

input[type=submit]:hover {
    background-color: #1ce783
  }

  input[type=submit] {
    background-color: #1aa85c;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .Submit {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
  .container {
    border-radius: 5px;
    background-color: #b2ced7;
    padding: 20px;
  }
  @media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }