h1 {
    color: blueviolet;
    background-color: rgb(246, 250, 245);
    font-family: cursive;
    letter-spacing: 10px;
    font-weight: 400;
    text-align: center;
    border: center 55px #ff0000 solid;
         
}

body {
    
  background-image: url("../assets/images/splotch_colors.jpg");



}