
.site-hero { 
    height: 80vh;
    background-image: url("../css/images/hulu-bg.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    /* justify-content: center;   */
    align-items: center;
    border-bottom: 2px;}
   
    .hulu_disney {
        width: 200%;
        justify-content: center;
    }
        
nav ul {
    display:flex;
    padding-left:0;
    margin:0px;
  }
  
  nav li {
    list-style-type: none;
  }
  nav a {
    color:#fff;
    text-decoration: none;
    padding:5px 20px;
    padding-left:2.5px;
    display:inline-block;
  }
  nav a::before {
    content:"|";
    padding-right:5px;
  }
  nav a:hover {
    background-color: #000000;
    color:#f8feff;
  }
  .nav-contact {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:auto;
    width:33%;
  }
  .nav-contact:hover {
    color:#000000;
  }
  .nav-contact ion-icon{
    margin-right:10px;
  }
  .nav-contact p {
    margin:0;
    margin-right: 10px;
  }
  
  #site_logo {
    width:100%;}

    


/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}