
.library__item-wrapper {
    cursor: pointer;
}

.navigation__brand {
    visibility: hidden;
}

.media-container {
    background-color: #040404;
}

.Ribbon__cta-button {
    color: #FFFFFF;
    background: transparent;
    border: 2px solid #FFFFFF;
}

.library__eyebrow {
    color: #00ED82;
}

.Ribbon__eyebrow {
    color: #00ED82;
}

.Masthead__input-cta {
    width: 100%;
    background: #1CE783;
}

.Masthead__input-cta:hover {
    background-color: #1CE78390;
}

.Masthead__legal .Masthead__hulu-only {
    padding-top: 10px;
    font-size: 16px;
}

.Masthead__legal .Masthead__hulu-only a {
    color: #FFFFFF !important;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    text-decoration: none;
}

.exp-plan-comparison-chart .button--black.button--cta:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.exp-plan-comparison-chart.is-dark .plan-feature__bullet_text--strikethrough {
    color: #C5CAD3;
}

@media (min-width: 1280px) {
    .Ribbon .row {
        justify-content: center;
    }

    @media (min-width: 1024px) {
        .Masthead {
            max-height: none;
        }

        .is-dark .plan-feature__check-0,
        .is-dark .plan-head__card-0 {
            background-color: inherit;
        }

        .is-dark .plan-feature__check-1,
        .is-dark .plan-head__card-1 {
            background-color: var(--gray-11);
        }
    }
}

.Billboard__border {
    border: #000;
}

.value-prop-disclaimer {
    color: #586174;
    font-size: 10px;
    font-weight: normal;
    line-height: 16px;
}

.Masthead__legal.section-disclaimer .button-link {
    color: white;
}

 